{% extends 'base.html.twig' %}
{% block title %}Описание{% endblock %}
{% block body %}

    <style>
        h1 {
            text-align: center;
        }
        span{
            font-weight: bold;
        }
        p{
            font-size: 18px;
        }
    </style>
    <h1>Описание проекта</h1>
    <p>
        Данный сайт предствляет собой сервис форума. Пользователи добавляют на сайт свои вопросы и любой другой пользователь может комментировать его.
        <br><br>
        <span>На всех страницах</span> в шапке сайта для неавторизованных пользователей выводить ссылки на авторизацию и регистрацию, для авторизованных - приветствие, кнопку “Выход” и имя пользователя.

        <br><br>
        <span>На главной странице</span> выводятся вопросы, отсортированные по дате добавления. У каждого вопроса выводится заголовок, дата добавления и количество ответов к нему.
        <br><br></p>
    <p><span>На странице топика </span> выводится:
        <br>
    <ul style="list-style-type:square; list-style-position:inside;">
        <li>заголовок </li>
        <li>текст </li>
        <li>имя автора</li>
        <li>раздел топика</li>
        <li>список комментариев пользователей, отсортированных по дате добавления</li>
        <li>форма “Добавить комментарий” (текстовое поле и кнопка  “Отправить”)</li>
    </ul>
    <br></p>
    <p><span>На странице добавления топика</span> располагается форма с полями
        <br>
    <ul style="list-style-type:square; list-style-position:inside;">
        <li>заголовок топика</li>
        <li>текст топика</li>
        <li>раздел топика</li>
    </ul></p>
    <br>
    <p>
        Если какие-то из обязательных полей не заполнены, сохранения в БД не происходит, на форме выводятся сообщения об ошибках. Заполненные пользователем текстовые поля не сбрасываются.
        <br>
        При создании топика пользователь может указать раздел только из заранее определенного списка.
        <br>
        После успешной отправки выполнять редирект на страницу созданного топика.
        <br>
        Все пользователи (в том числе неавторизованные) могут просматривать топики и ответы к ним.
        <br>
        Авторизованные пользователи могут добавлять и комментировать топики.
        <br>
        Пользователь с правами администратора должен иметь возможность удаления и редактирования топиков, а также удаления комментариев.
    </p>
{% endblock %}
