<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% endblock %}
</head>
<body>
{{ include('Defaulte/Header.html.twig') }}

    <div class="contetnt">
        {% block body  %}
        {% endblock %}

    </div>

{{ include('Defaulte/Footer.html.twig') }}
{% block javascripts %}{% endblock %}
</body>
</html>
