{% extends 'base.html.twig' %}

{% block title %}Новый топик{% endblock %}

{% block body %}
    <h1 style="text-align: center">создать топик</h1>
        <div class="new_t">
    {{ include('topic/_form.html.twig') }}
    </div>
    <div class="btn_end">
    <a class="button" href="{{ path('topic_index') }}">Вернуться назад</a>
    </div>
{% endblock %}
